* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://www.awn.com/sites/default/files/styles/original/public/image/featured/1047633-hulu-orders-two-seasons-animated-comedy-rick-and-morty-team_0.jpg?itok=rI_7uOAz);

}